#homepage {
    background-image: url("../static/floral5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
}

#header {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: "Optima", sans-serif;
    font-size: 72px;
    font-weight: bold;
    margin: auto;
    width: 50%;
    padding: 50px;
    color: white;
    text-align: center;
}

.header-subtext {
    font-family: "Optima", sans-serif;
    font-size: 24px;
    margin: auto;
    width: 50%;
    color: white;
    text-align: center;
}

.about-us {
    padding: 20px;
    margin: auto;
    text-align: left;
    width: 70%;
    font-family: "Optima", sans-serif;
    outline: #db8dbd ridge 9px;
    background-color: white;
    font-size: 22px;
}

#disclaimer {
    margin: auto;
    text-align: center;
    width: 100%;
    color: red;
}

#hours {
    color: #0033ff;
}

a:hover {
    color: #674c5e;
}

a:active {
    color: #674c5e;
}

a:visited {
    color: #674c5e;
}

a:link {
    color: #674c5e;
}

.about-us1 {
    margin: auto;
    text-align: center;
    width: 70%;
    font-family: "Optima", sans-serif;
    outline: #db8dbd ridge 9px;
    background-color: white;
    font-size: 26px;
    height: 800px;
}

.button {
    margin: 25px;
}

.form-sub {
    margin: auto;
    width: 750px;
}

.button2 {
    margin: 620px;
}

.button4 {border-radius: 12px;}

.buttonlist {
    background-color: #db8dbd;
    border-width: thin;
    border-style: ridge;
    border-color: black;
    color: #000000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

.header-title {
    text-decoration: underline;
}

.iframe {
    pointer-events:none;
}