<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    <title>Jennifer's Closet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body id="homepage">
<div id="header">
    Jennifer's Closet
    </div>
<div class="header-subtext">
    <button onclick="window.location.href='mailto:jennifersclosetny@gmail.com?subject=Book An Appointment'" class="buttonlist button4">Email Us: jennifersclosetny@gmail.com</button>
        <button class="buttonlist button4" onclick="window.location.href='wish-list.html'">View our Current Needs</button>
    </div>
<br/>
<div class="about-us">

    <h3 class="header-title">About Us</h3>

    <p>
        Jennifer&#39;s Closet is a volunteer project of Bethany Presbyterian
Church established by a neighborhood mom, named Jennifer,
in 2023. We offer gently used clothing in sizes infant to 3X, free
of charge for Greece families in need. We are located in the
        church at 3000 Dewey Ave. (just north of Stone Rd.)<br>
        <b>We do not serve thrifters or resellers.</b>
    </p>
</div>
<br>
<div class="about-us">

    <h3 class="header-title">Appointments</h3>

    <p>
        <b><span id="hours"> We offer appointments Mondays and Thursdays from 9:30 a.m. to 12 p.m.</span></b>
         Please submit your name, email, and phone number to request additional information or book an appointment.
    </p>
    <br/>
    <div class="form-sub">

        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "43607378",
    formId: "ba41aa0d-325f-4188-a595-6c07ac3efc38"
  });
</script>

    </div>
</div>
<br/>
<br/>
<div class="about-us">
    <h3 class="header-title">Events</h3>

    <iframe src="https://calendar.google.com/calendar/embed?src=jennifersclosetny%40gmail.com&ctz=America%2FNew_York&amp;mode=AGENDA" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<div class="about-us">

    <h3 class="header-title">Donations</h3>

    <p>
        To donate clothing, please submit your name, email, and phone number. You will then be contacted
        to schedule your drop off. <br/>
        <b>We ask that all donations are not stained, damaged, or worn-out clothing.</b> <br/>
        <b>We accept the following household items: new towels, sheet sets and comforters.</b><br>
        If you would like to make a financial contribution to support our project, please make the checks payable to
        Bethany Presbyterian Church with "Clothing Closet" on the memo, 3000 Dewey Ave., Rochester, NY 14616.
    </p>
</div>
<br/>
<div class="header-subtext">
        <button class="buttonlist button4" onclick="window.location.href='wish-list.html'">View our Current Needs</button>
</div>
<br/>
<div class="about-us">

    <h3 class="header-title">Volunteering</h3>

    <p>
        If you are looking to help out in the clothing closet, we are looking for people to help sort donations,
        replenish clothing racks, and more. <br/>
        <b>Please submit your name, email, and phone number. You will then be
            contacted to find a time to volunteer. </b>
    </p>
</div>
<br/>
<div id="disclaimer">
    <img src="../static/stop.png" alt="STOP" width="150" height="151">
</div>

<br/>
<br/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>