<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    <title>Jennifer's Closet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body id="homepage">
<div id="header">
    Jennifer's Closet
<!--    <img src="../static/jc-logo.jpg" alt="logo" width="500" height="350">-->
    </div>
<!--<br/>-->
<div class="about-us">

    <h3>About Us</h3>

    <p>
        Jennifer's Closet is a volunteer project of Bethany Presbyterian Church established by a neighborhood mother in 2023. We offer gently used clothing free of charge for Greece families in need. <br/>
     <b>We do not serve thrifters or resellers.</b> <br/>
    </p>
</div>
<br/>
<div class="about-us">

    <h3>Appointments</h3>

    <p>
        <b><span id="hours"> We offer appointments Mondays and Wednesdays from 9 a.m. to 12 p.m. and Saturdays as needed. </span></b>
         Please contact us at the provided email to request additional information or book an appointment. Please provide your
        name and best way to contact you.
    </p>
</div>
<br/>
<div class="header-subtext">
    <h3>Book An Appointment:
        <a href="mailto:jennifersclosetny@gmail.com?subject=Book An Appointment">jennifersclosetny@gmail.com</a>
    </h3>
    </div>
<br/>
<div class="about-us">

    <h3>Donations</h3>

    <p>
        To donate clothing, please email us your name and phone number. You will then be contacted
        to schedule your drop off. We ask that all donations are not stained, damaged, or worn-out clothing. <br/>
        If you would like to make a financial contribution to support our project, please make the checks payable to
        Bethany Presbyterian Church with "Clothing Closet" on the memo. <br/>
        <b>We do not accept household items.</b><br>
    </p>
</div>

<div class="header-subtext">
        <a href="wish-list.html">Click here to view our current needs</a>
</div>
<br/>
<div class="about-us">

    <h3>Volunteering</h3>

    <p>
        If you are looking to help out in the clothing closet, we are looking for people to help sort donations,
        replenish clothing racks, and more. Please email us your name and contact information as well as times you may be available to
        volunteer.
    </p>
</div>
<br/>
<div id="disclaimer">
    <img src="../static/stop.png" alt="STOP" width="150" height="151">
</div>

<br/>
<br/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>